.header {
  font-size: 18px;
  display: grid;
  align-items: center;
  margin-top: 92px;
  margin-left: 24px;
  margin-right: 24px;
  grid-template-columns: 3fr 148px 3fr;
  width: 1052px;
}

.header__menu {
  margin-right: 7px;
}

.header__links-list {
  display: flex;
  justify-content: space-evenly;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style-type: none;
  justify-content: right;
  text-decoration: none;
}

.header__link {
  padding-left: 4px;
  text-underline-position: under;
}

.header__logo {
  object-position: center;
  width: 144px;
  padding-top: 5px;
  padding-left: 8px;
}

.address {
  font-style: normal;
  line-height: 24px;
  text-underline-position: under;
}

.header__address {
  justify-self: center;
  padding-left: 130px; /* размер подгонялся 
  во время наложения изображения в Pixel Perfect */
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 96px;
  width: 1100px;
  min-height: 757px;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.cover__title {
  width: 1100px;
  position: relative; /* Используется, чтобы задать 
  координату для размещения заголовка "оно тебе надо" 
  поверх оверлея*/
  z-index: 2;
  padding-left: 50px;
  padding-right: 45px;
}

h1 {
  color: white;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  font-size: 100px;
  display: block;
  text-transform: uppercase;
  word-spacing: -22px;
  
}

.aligned-text {
  padding-top: 159px;
  text-align: start;
}

.aligned-text_center {
  text-align: center;
  padding-top: 10px;
 
}

.aligned-text_right {
  text-align: right;
  padding-top: 2px;
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description-text,
button {
  font-size: 22px;
  font-weight: lighter;
  word-spacing: 20px;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
}

.cover__description-text {
  flex-direction: column;
  justify-content: flex-end;
  margin: 12px;
  padding-left: 20px;
}

.cover__description-text-letter-spacing {
  padding-right: 21px;
}

.lots__heading {
  font-size: 40px;
  padding-left: 65px;
  text-transform: uppercase;
}

button {
  font-family: Raleway, sans-serif;
  padding: 12px 20px 11px 20px;
  border-style: solid;
  border-color: white;
  margin-left: 40px;
  word-spacing: 3px;
  width: 256px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 127px;
  padding-left: 43px;
  position: relative; /* Используется, чтобы задать 
  координату для размещения заголовка h2
  поверх оверлея*/
  z-index: 2;
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 175px;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap; /*Добавлено свойство для 
  переноса новых добавленных карточек на следующую строку*/
  justify-content: space-evenly;
  color: white;
  margin-top: 26px;
  row-gap: 25px;
}

h3 {
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 563px;
  justify-content: center;
}

ul {
  list-style: none;
}

.card__text {
  font-size: 20px;
  text-decoration: none;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
  padding: 50px 40px;
  position: relative;
  z-index: 2;
}

.lots__card-list-item_film,
.lots__card-list-item_book,
.lots__card-list-item_picture {
  display: flex;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.lots__card-list-item_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-list-item_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-list-item_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  padding-left: 65px;
  padding-top: 30px;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 25px;
  padding: 59px 24px 0 26px;
  margin-top: 123px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  row-gap: 100px;
  margin-bottom: 5px;
  width: 688px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__text {
  font-size: 20px;
  display: grid;
  gap: 27px;
}

.footer {
  display: grid;
  align-items: center;
  margin-top: 145px;
  margin-left: 52px;
  width: 1000px;
  grid-template-columns: 3fr 148px 3fr;
  font-size: 18px;
  margin-bottom: 88px; /*Величина отступа указана согласно макету*/
}

.footer__address {
  padding-top: 30px;
  padding-right: 10px;
}

.location {
  line-height: 1.5;
}

.footer__menu-list {
  text-align: center;
  width: 149px;
}

.footer__menu-link-none {
  text-decoration: none;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__social-list-nav {
  display: flex;
  justify-content: end;
}

.footer__social-list {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
